@charset "UTF-8";

*{
    margin: 0; padding: 0;
    box-sizing: border-box;
}

.box{
    background-color: rgba(2, 2, 2, 0.796);
    display: flex;
    flex-flow: row wrap;
    gap: 20px 20px;
    justify-content: space-between;
    align-content: space-between;
    width: 100vw; height: 200vh;
}

.square{
    margin-bottom: 100px;
    animation: scale 1s linear;
    animation-timeline: view(block);
    animation-range: entry exit;
}

.square:nth-child(2n-1){
    background-color: red;
    width: 200px; height: 100px;

}
.square:nth-child(2n){
    background-color: blue;
    width: 150px; height: 100px;
}

@keyframes scale{
    from {
        scale: 0.7;
        opacity: 0;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}
