
/* 
? Estilização para impressora
*/

@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 1em;
}

html{
    font-family: 'Courier New', Courier, monospace;
}

header > nav{
    display: none;
}

h1, h2, p{
    margin: 10px;
    padding: 10px;
}

p{
    text-align: justify;
    text-indent: 30px;
    line-height: 1.8em;
}

article::after{
    content: "Site escrito por Johnny para o canal CursoEmVideo";
}