@charset "UTF-8";

@media screen and (min-width: 690px) {
    header{
        align-items: flex-start;
    }

    header > nav > ul{
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
    }
}

@media screen and (min-width: 992px) {

    header{
        flex-flow: row nowrap;
    }

    header > h1{
        align-self: center;
        flex: 1 1 200px;
    }

    header > nav > ul{
        display: flex;
        justify-content: flex-end;
    }

    header > nav > ul > li{
        margin: 0px;
        margin-left: 10px;
    }
}