@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

header{
    padding-top: 20px;
    height: 175px;
    background: black;
}

header h1{
    margin-top: 25px;
    color: white;
    text-align: center;
    font-size: 3em;
}

header p{
    color: white;
    text-align: center;
    font-size: 1.3em;
}

main{
    padding: 20px;
}

main > p{
    margin-bottom: 15px;
    font-size: clamp(1rem, 5vw, 2.5rem);
}
